<launch>
    <include file="$(find realsense2_camera)/launch/rs_camera.launch">
        <arg name="camera" value="cam_1"/>
        <!-- <arg name="device_type" value="d435i"/> -->
        <arg name="serial_no" value="044322073454"/>
    </include>

    <include file="$(find realsense2_camera)/launch/rs_camera.launch">
        <arg name="camera" value="cam_2"/>
        <!-- <arg name="device_type" value="d435i"/> -->
        <arg name="serial_no" value="044122070773"/>
    </include>
</launch>