<launch>  
	<!-- OrbSlam3  -->
	<node pkg="orb_slam3_ros" name="simple_rgbd_node" type="simple_rgbd_node" 
	args="/home/lacie/slam_ws/src/junbot_planner/orb_slam3_ros/orb_slam3/Vocabulary/ORBvoc.txt.bin
	/home/lacie/slam_ws/src/junbot_planner/orb_slam3_ros/config/RGB-D/TUM2.yaml
	/home/lacie/Github/Data/TUM/rgbd_dataset_freiburg2_large_with_loop
	/home/lacie/Github/Data/TUM/rgbd_dataset_freiburg2_large_with_loop/depth.txt 
	/home/lacie/Github/Data/TUM/rgbd_dataset_freiburg2_large_with_loop/rgb.txt"
	output="screen"/>

	<include file="$(find orb_slam3_ros)/launch/transform.launch" />
	<include file="$(find orb_slam3_ros)/launch/octomap.launch" />
	<node pkg="rviz" name="rviz" type="rviz" /> 
	
</launch>
