<launch>  
	<arg name="rgb_image_node" default="/zed/zed_node/rgb/image_rect_color"/>
	<arg name="depth_image_node" default="/zed/zed_node/depth/depth_registered"/>
	<arg name="zed_params_dir" default="$(find orb_slam3_ros)/../../../zed/params"/>
	<arg name="zed_params" default="/stereo/zed-VGA.yaml"/>

	<!-- OrbSlam3  -->
	<node pkg="orb_slam3_ros" name="orb_slam3_ros" type="simple_rgbd_node" 
	args="$(find orb_slam3_ros)/../../../Vocabulary/ORBvoc.bin  
	$(arg zed_params_dir)$(arg zed_params)
	/camera/rgb/image_raw:=$(arg rgb_image_node) 
	/camera/depth_registered/image_raw:=$(arg depth_image_node)"
	output="screen"/>

	<include file="$(find orb_slam3_ros)/launch/transform.launch" />
	<node pkg="rviz" name="rviz" type="rviz" /> 
	
</launch>
