<!--
  Copyright 2016 The Cartographer Authors

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<launch>
  <!-- Arguments -->
  <arg name="model" default="waffle_pi" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="configuration_basename" default="junbot_2d_localization.lua"/>
  <arg name="load_state_filename" default="/home/jun/junbot_ws/map/test-3.pbstream" />
  <param name="/use_sim_time" value="true" />

  <!-- Junbot -->
  <include file="$(find junbot_bringup)/launch/junbot_remote.launch">
    <arg name="model" value="$(arg model)" />
  </include>

  <!-- move_base -->
  <include file="$(find junbot_navigation)/launch/move_base.launch">
    <arg name="model" value="$(arg model)" />
  </include>

  <node name="cartographer_node" pkg="cartographer_ros"
      type="cartographer_node" args="
          -configuration_directory $(find cartographer_junbot)/configuration_files
          -configuration_basename junbot_2d_localization.lua
          -load_state_filename  $(arg load_state_filename)"
      output="screen">
      <remap from="imu" to="/flat_imu" />
      <remap from="scan" to="/scan" />
  </node>

  <node name="set_initpose" pkg="cartographer_ros" type="set_initpose_from_rviz" output="screen"
    args="
          -configuration_directory $(find cartographer_junbot)/configuration_files
          -configuration_basename junbot_2d_localization.lua
          -load_state_filename $(arg load_state_filename)" >
          <remap from="imu" to="/flat_imu" />
          <remap from="scan" to="/scan" />
  </node>

  <node name="cartographer_occupancy_grid_node" pkg="cartographer_ros"
      type="cartographer_occupancy_grid_node" args="-resolution 0.05" />

  <node name="rviz" pkg="rviz" type="rviz" required="true"
      args="-d $(find cartographer_ros)/configuration_files/demo_2d.rviz" />

  <node pkg="junbot_slam" type="flat_world_imu_node" name="flat_world_imu_node" output="screen">
    <remap from="imu_in" to="/imu" />
    <remap from="imu_out" to="/flat_imu" />
  </node>

</launch>
